html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: calibri, serif;
  height: 100%;
}

body {
  height: 100%;
  background-color: white;
}

main {
  display: grid;
  justify-items: center;
  min-height: 100%;
}

#about-me {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
}

section {
  display: flex;
  flex-direction: column;

  border: 2px inset black;
  background-color: azure;
  border-radius: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  padding: 10px;
  margin: 10px;
  text-align: center;

}


img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100px;
  padding: 10px;
}
