html {
  color: black;
  font-size: 1em;
  line-height: 1.4;
  font-family: calibri, serif;
  height: 100%;
}

body {
  height: 100%;
  background-color: white;
}

main {
  display: grid;
  justify-items: center;
  min-height: 100%;
}

#about-me {
  display: grid;
  grid-template-rows: 1fr;
}

section {
  display: flex;
  flex-direction: column;

  border: 2px inset #22C1C3;
  background-color: azure;
  border-radius: 10px 20px;
  box-shadow: 2px 2px 5px  #FDBB2D;


  padding: 10px;
  margin: 10px;
  text-align: center;

}


img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100px;
  padding: 10px;
}
