body {
  background-color: whitesmoke;
}

main {

}

h1 {
  text-align: center;
}

#about-me {
  display: grid;
  justify-items: center;

}

section {
  border: 2px inset black;
  background-color: azure;
  border-radius: 10px 20px;
  justify-content: center;
  width: 75%;
  display: flex;
  padding: 10px;
  max-height: 200px;
  margin: 10px;
  text-align: center;
}

img {
  display: inline-flex;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  padding: 10px;
}

p {
  max-height: 50px;
}
