html {
  font-size: 1em;
}

body {

}

main {

}

h1 {
  text-align: center;
  font-size: 2em;
}

#about-me {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: 1fr;
}

section {
  display: flex;
  flex-direction: column;

  border: 2px inset black;
  background-color: azure;
  border-radius: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  padding: 10px;
  margin: 10px;
  text-align: center;

}


img {
  display: inline-flex;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100px;
  padding: 10px;
}
