footer {
  background: #22C1C3;
  background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

  display: flex;
  flex-direction: row;
}

footer img {
  max-height: 25px;
  max-width: 25px;
  border-radius: 20px;

}
