header {
  background: #22C1C3;
  background: radial-gradient(circle,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

  height: 100px;
  max-width: 100%;
  position: sticky;
  top: 0;

  display: grid;
  grid-template-rows: 1fr;
  justify-content: left;
  align-items: center;
}

nav {

  height: 100px;
  max-width: 100%;
  position: sticky;
  top: 0;

  display: grid;
  grid-template-rows: 1fr;
  justify-content: left;
  align-items: center;
  text-align: left;
}

#menu {
  display: none;
  list-style-type: none;
  grid-column: 1;
  flex-direction: column;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100px;
}

#menu a {
  display: block;
  color: black;
  background-color: #22C1C3;
  padding: 8px 16px;
  text-decoration: none;
  position: relative;
  text-align: center;
}

#menu a:hover {
  cursor: pointer;
  background-color: #FDBB2D;
}

#toggle {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  font-size: 3em;
  background-color: transparent;
  border: transparent;
  text-align: center;
}

#toggle:hover {
  cursor: pointer;
}



