html {
  color: black;
  font-size: 1em;
  line-height: 1.4;
  font-family: calibri, serif;
  height: 100%;
}

body {
  height: 100%;
  background-color: white;
}

main {
  display: grid;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#featured-video {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

iframe {
  width: 840px;
  height: 472px;
}

#playlist-videos {
  display: flex;
  flex-direction: column;
  border: 2px inset #22C1C3;
  background-color: azure;
  border-radius: 10px 20px;
  box-shadow: 2px 2px 5px  #FDBB2D;

}

#playlist {
  display: grid;

  justify-content: center;
  align-items: center;
}



#playlist button {
  background-color: #22C1C3;
  border: 1px inset #FDBB2D;
  border-radius: 10px 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  margin: 10px;
  box-shadow: 2px 2px 5px  #FDBB2D;
}
