html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: calibri, serif;
  height: 100%;
}

body {
  height: 100%;
  background-color: white;
}

main {
  display: grid;
  justify-items: center;
  min-height: 100%;
}

#content {
  display: grid;
  grid-template-rows: 1fr;
  margin: 10px;
  justify-items: center;

}



#resume-doc {
  width: 100%;
  padding: 20px;
}

object {
  width: 100%;
  height: 100%;
  min-height: 750px;
}
