main {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#resume-intro {
  border: inset black;
  border-radius: 5px 10px;
  padding: 10px;
}

object {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 750px;
  resize: both;
  padding: 20px;
  margin: 10px;
}
