html {
  color: black;
  font-size: 1em;
  line-height: 1.4;
  font-family: calibri, serif;
  height: 100%;
}

body {
  height: 100%;
  background-color: white;
}

main {
  display: grid;
  justify-items: center;
  min-height: 100%;
}

#content {
  display: grid;
  grid-template-rows: 1fr;
  margin: 10px;
  justify-items: center;

}

#resume-doc {
  display: none;
  width: 100%;
  padding: 20px;
}

object {
  width: 100%;
  height: 100%;
  min-height: 750px;
}

#resume-intro button {
  align-items: center;
}

#resume-button {
    background-color: #22C1C3;
    border: 1px inset #FDBB2D;
    border-radius: 10px 20px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    margin: 10px;
    box-shadow: 2px 2px 5px  #FDBB2D;

    flex: 1;
}

#button-container {
  display: grid;
  justify-items: center;
  align-items: center;


}
